@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap");

:root {
  --heightHeaderFilter: 10vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--heightHeaderFilter) + 1rem);
}

.headerFilters {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 2;
  padding-bottom: 1rem;
}

header {
  width: 100vw;
  background-color: darkgray;
  font-size: 150%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  width: 50%;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li {
  display: block;
}

.letterLinks {
  height: auto;
  width: 100%;
  background-color: rgb(199, 197, 197);
}

.letterLinks ul {
  padding: 0 10%;
  margin-top: 1rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* gap: 0.5rem; */
  font-size: 1.4rem;
}

.letterLinks ol li {
  padding: 0;
  margin: 0;
}

.letterLinks a {
  color: black;
  padding: 0;
  margin: 0;
}

.letterLinks a:hover {
  color: coral;
  font-weight: bold;
}

#leterList a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  transition: 0.3s;
  transform-origin: left;
  margin-left: 2rem;
  cursor: pointer;
}

.slectWrapper {
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  background-color: rgb(230, 227, 227);
}

main {
  margin-top: var(--heightHeaderFilter);
}

.letterGroup {
  margin-top: 3rem;
}

.letterGroup li {
  margin-top: 1rem;
}

#leterList a:hover {
  color: coral;
  font-weight: bolder;
}

.letterGroup h2 {
  color: rgb(157, 174, 206);
  font-size: 2rem;
  padding-left: 2vw;
  background-color: rgb(227, 228, 228);
  /* position: sticky;
  top: max(12.5vw, 20vh); */
}

#actorList {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
  gap: 3rem;
  padding-bottom: max(3vw, 5vh);
  padding-top: max(3vw, 5vh);
}

.actor {
  border: solid 1px black;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: white;
}

.actor h2,
.actor h3 {
  color: darkslateblue;
}

h2 span,
h3 span {
  color: black;
}

.actor h3 {
  margin-top: 1rem;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(49, 40, 36, 0.575);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.movieBox {
  background-color: white;
  padding: 2rem;
  border: solid 1px black;
}

.movieBox h1 {
  font-size: 200%;
}

.movieBox h2 {
  margin-top: 1rem;
}
.movieBox li {
  font-size: 110%;
}
